<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hackspace 42" data-text="This is your shiny new dashboard."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="4" data-col="4" data-sizex="3" data-sizey="9">
			<div data-id="nextTrainConnections" data-view="List" data-title="Züge ab Gießen Hbf." data-unordered="true"></div>
		</li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="comments"></div>
    </li>
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
